<!DOCTYPE html>
<html>
  <head>
    <!-- Hey, what are you doing in here!  No snooping! -->
    <title>Nyv's Workshop | Visualize raw materials needed for masterwork commissions</title>

    <!-- external -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117099361-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117099361-1');
    </script>

    <!-- internal -->
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="js/main.js"></script>

    <!-- meta... aka 2 DC, 1 OP, 1 GF/SW, 1 GWF -->
    <meta name="title" content="Nyv's Workshop" />
    <meta name="description" content="Visualize which materials you need to farm for a crafter to create various popular Masterwork items in Neverwinter." />
    <meta name="keywords" content="neverwinter, neverwinter masterwork, neverwinter masterwork crafting, neverwork masterwork ingredients, neverwinter masterwork farming">
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <div class="page-title">Nyv's Workshop</div>
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
              <div class="page-subtitle">
                A simple interface intended to help Neverwinter players determine which raw materials need to be farmed, crafted, or purchased in order to commission a masterwork crafter to create some of Faerun's most sought-after equipment. Updated for Heart of Fire (mod15)!
              </div>
            </div>
          </div>
          <div class="white-box" id="item-select-wrap">
            <h1>Select an item:</h1>
            <p>Once you have made a selection, the display will update to reflect the required raw/crafted materials.</p>
            <div class="craftable-items row">
              <craftable-item v-for="craftable in craftables" :key="craftable.name" :item="craftable"></craftable-item>
              <div id="reset" class="col-md-3 col-sm-3 col-xs-3" v-show="selectedItem != ''">
                <a class="btn btn-default" onclick="window.location = './index.html';">Pick a different item...</a>
              </div>
            </div>
            <div id="material-totals" v-show="totals.length > 0">
              <h1>{{ selectedItem }} total raw materials:</h1>
              <div class="row">
                <total v-for="tot in totals" :key="tot.name" :t="tot"></total>
              </div>
            </div>
            <div id="material-list" v-show="materials.length > 0">
              <h1>{{ selectedItem }} recipe visualization:</h1>
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-6">
                  <div class="key-circle crafted">Crafted</div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                  <div class="key-circle raw">Raw</div>
                </div>
              </div>
              <material v-for="m in materials" :key="m.name" :mat="m" :multiplier="1"></material>
            </div>
          </div>
          <div class="footer">
            Built by <a href="mailto:nyvaril.neverwinter@gmail.com">Nyvaril</a> from <a href="http://civil-anarchy.gamerlaunch.com/">Civil Anarchy</a><br>
            Special thanks to PzK and Tanya of CA & the folks at NW:UN for help tracking down recipes!
          </div>
        </div>
      </div>
    </div>
  </body>
</html>